.s-change-size {
  width: 50%;
}

.s-btns-design {
  margin: 15px auto 0;
  width: 65%;
}

.s-btns-design button,
.s-btn-spacing button {
  margin: 5px 0;
}

.s-games-btn {
  margin: 15px auto;
  padding: 10px;
  width: 88px;
  height: 88px;
}

.s-delete-btn {
  margin-top: 15px;
}

.s-card-padding {
  padding: 0 30px;
}