.s-welcome-background {
  background-color: #7b69eb;
  padding: 25px 0;
}

.s-text-color {
  color: #ffffff;
}

.s-section-header {
  margin: 40px 0 15px;
}

.s-text-spacing {
  margin-bottom: 10px;
}