.s-img-color {
  color: white;
}

.s-btn-color {
  background-color: #7b69eb;
}

.s-weight {
  font-weight: 700;
}

.s-positioning {
  margin-top: 2px;
}

.s-btn-responsive {
  max-width: 100%;
}

.s-img-positioning {
  position: relative;
  top: -5px;
}

.s-rotate-arrow {
  transform: rotate(180deg);
}

.s-remove-event h4,
.s-remove-event-cate {
  pointer-events: none;
}

.s-coin-sizing {
  position: absolute;
}

.s-position-type {
  position: relative;
}

.s-coin-responsive {
  width: 50%;
  margin: 0 25%;
}

.s-add-space {
  margin-top: 22%;
}

.s-img-border {
  border: 1px solid #000;
  padding: 15px;
}

.s-sizing {
  width: 48px;
  height: 48px;
}

.s-field-sizing {
  width: 75%;
}

.s-field-padding {
  padding: 0 15px;
}

.s-card-padding {
  padding: 0 30px;
}

.s-card-double-padding {
  padding: 0 60px;
}

.s-responsive-padding {
  padding: 0 120px;
}

.s-responsive-card-padding {
  padding: 0 210px;
}

.s-card-pad-bottom {
  padding-bottom: 30px;
}

.s-btn-size {
  width: 100%;
}

.s-remove-pad {
  padding-left: 0;
  padding-right: 0;
}