.s-notebook-bind {
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  z-index: 1;
  border-bottom-color: #ffaa9f;
}

.s-notebook-bind h2 {
  margin-bottom: -20px;
  z-index: -1;
}

.s-notebook-body {
  background-image: url("../assets/lines.png");
  background-repeat: repeat;
}

.s-vertical-lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 3px;
  float: left;
  height: 340px;
  margin: -64px 0 -20px 30px;
  position: relative;
  z-index: 2;
}

.s-email-placement, .s-pass-placement {
  width: 75%;
  font-size: 1.563rem;
  padding-top: 12px;
  border: none;
  height: 30px;
}

.s-email-placement {
  margin: 12px 0 0 10px;
}

.s-pass-placement {
  margin: 34px 0 0 10px;
}

.s-error-placement {
  font-size: 1rem;
  margin: 10px 0 -2px 24px;
}

.s-submit-placement, .s-account-placement {
  margin-top: 34px;
  height: 32px;
  padding: 0 15px;
}

.s-account-placement {
  font-size: 1rem;
  padding: 5px 15px 0 8px;
}

.s-vertical-reg {
  height: 440px;
}
